VITE_AZURE_TENANT_ID=e806542a-6df6-46ee-84c7-2c03e625e391
VITE_AZURE_CLIENT_ID=49dd0680-1966-4231-a693-7b30da4764f6
VITE_SUPABASE_URL=https://rdyzvohphrmkkowdsoam.supabase.co
VITE_SUPABASE_ANON_KEY=YOUR_SUPABASE_ANON_KEY_HERE
